# Project exclude paths
/target/
/build/
/.idea/.gitignore
/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/UtilityLib - Config.iml
/UtilityLibConfig.iml
/.idea/modules/UtilityLibConfig.main.iml
/.idea/vcs.xml
/.gradle/
